
<section class='blog-index'>
  <div class='container-wide'>
    {% if page.title == "Blog" %}
      <h1 class='blog-title'>{{ page.title }}</h1>
    {% else %}
      <h2 class='blog-title'>Blog &amp; Portfolio</h2>
    {% endif %}
    <h3 class='filter-title'>Filters</h3>
    <div class='filters'>
      {% for category in site.categories %}
        <div class='filter'>{{ category[0] }}</div>
        <!-- {% if forloop.index < 6 %}
        {% endif %} -->
      {% endfor %}
      <div class='mob-margin filter'></div>
    </div>
    <div class='post-flex'>
      {% if page.title == "Blog" %}
        {% for post in paginator.posts %}
          {% include post-cards.html %}
        {% endfor %}
      {% else %}
        {% for post in site.posts %}
          {% include post-cards.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>