
<section class='blog-index'>
  <div class='container-wide'>
    {% if page.title == "Blog" %}
      <h1 class='blog-title'>{{ page.title }}</h1>
    {% else %}
      <h2 class='blog-title'>Featured Blogs &amp; Recent Work</h2>
    {% endif %}
    <h3 class='filter-title'>Filters</h3>
    <div class='filters'>
      {% for category in site.categories %}
        <div class='filter'>{{ category[0] }}</div>
        <!-- {% if forloop.index < 6 %}
        {% endif %} -->
      {% endfor %}
      <div class='mob-margin filter'></div>
    </div>
    <div class='post-flex' data-page='{{ paginator.page }}' data-total-pages='{{ paginator.total_pages }}'>
      {% if page.title == "Blog" %}
        {% for post in paginator.posts %}
          {% include post-cards.html %}
        {% endfor %}
        <div class='post-card skeleton'>
          <div class='left'></div>
          <div class='right'></div>
        </div>
        <div class='post-card skeleton second'>
          <div class='left'></div>
          <div class='right'></div>
        </div>
        <div class='post-card skeleton third'>
          <div class='left'></div>
          <div class='right'></div>
        </div>
      {% else %}
        {% for post in site.tags.Featured %}
          {% include post-cards.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>